.slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 310px;
    height: 14px;
    margin: 20px 10px;
    /*outline: 1px #777777 solid;*/
}

.thumb {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    top: -8px;
    background: #69fff0;
    cursor: pointer;
    transform: translateX(0);
}